langchain 
langchain-core
langchain-groq
python-dotenv
dotenv
langchain-google-genai
streamlit
langchain_community
tavily
tavily-python
pandas
tiktoken
rich
tenacity
orjson
pydantic
html5lib
beautifulsoup4
requests
lxml
langchain_openai